.nav-item:hover .nav-link {
    color:  #A4E3B1; /* Replace with your desired color */
  }
.btn-primary {
    color: black !important;
    background-color: #A4E3B1  !important;
    border: #A4E3B1;
}

