/*toggle for light/dark mode*/
.dark-mode {
  background-color: #16161a;
  color: white;
}
.dark-mode .card {
background-color: #16161a;
color: white;
  }
   .earth {
    background-color: #A4E3B1;
   }

  .dark-mode nav  {
  background-color: #16161a !important;
  color: white !important;

  }

  /* .dark-mode .resource {
  color: #A4E3B1 !important;
} */
  

.nav-item:hover .nav-link {
    color:  #A4E3B1; 
  }

.btn-primary {
    color: white !important;
    background-color: #004643  !important;
    border: #A4E3B1;

}
.card-text {
  font-weight:lighter;
}
.pollutionConsequence {
  border: solid black 2px;
  border-radius: 10px;
  background-color: #FFFFFF !important;
}
.card {
  border: none;
}

.btn-outline-primary {
  background-color: #A4E3B1  !important;
  color:#16161a !important;
  border:#A4E3B1 !important;
}
.wwfimage {
  height:500px !important;
  width:auto !important;
  justify-content: center;
  align-items: baseline;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.teamPictures {
  width: 18rem;
  height:380px;
}



/*
 dark green: #004643
 light green: #A4E3B1
 black:#16161a
 white 

*/